@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
}
body {
  background-image: url("images/1.gif");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  overflow: hidden;
}
.map {
  background-image: url("images/mp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ques {
  position: absolute;
  top: 2%;
  left: 32%;

  text-align: center;
  color: white;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgba(63, 63, 63, 0.519);

  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 40px rgb(0, 0, 0);
}

.japan {
  position: absolute;
  top: 24rem;
  right: 50rem;
  width: 40px;
}

label {
  display: hidden;
}
#demo {
  position: absolute;
  top: 25rem;
  right: 50rem;
  width: 40px;
  z-index: 30;
}
#demo:checked + label {
  display: flex;
  background: rgba(0, 127, 4, 0.385);
  color: white;

  align-items: baseline;
  font-size: 5rem;
  z-index: 10;
  backdrop-filter: blur(15px);
  transition-duration: 200ms;
}

.next {
  font-size: large;
  position: absolute;
  bottom: 2%;
  color: white;
  right: 2%;
}
.next a {
  text-decoration: none;
  color: white;
}

.home {
  font-size: large;
  position: absolute;
  top: 2%;
  color: white;
  right: 2%;
  text-decoration: none;
  color: white;
}

.red {
  position: absolute;
  top: 29rem;
  right: 40rem;
  width: 40px;
}
.blue {
  position: absolute;
  top: 19rem;
  left: 60rem;
  width: 40px;
}
.green {
  position: absolute;
  top: 25rem;
  left: 25rem;
  width: 40px;
}
